<!DOCTYPE html>
<html>
<head>
 <title>Inicio</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="/css/lavish-bootstrap.css" rel="stylesheet" media="screen" type="text/css">
</head>

<body>
 <nav class="navbar navbar-inverse" role="navigation">
 <div class="navbar-header">

 <img class="pull-left" src="/icons/Google.png" alt="Icono google" style="width:50px; height=50px">
 <a class="navbar-brand" href="#">Practica Google Auth</a>


 </div>
 </nav>


 <div class="container">
   <div class= "row">
     <div class= "col-md-2" >
     </div>
     <div class = "col-md-6">
       <div class = "jumbotron">
         <h3> <b> Auth With Google+!!! </b> </h3>
         <form>
         <button class = "btn btn-danger" type="submit" formmethod="post" formaction="/auth/google_oauth2" >Sign In Google+ </button>
        </form>
       </div>
     </div>

     <div class = "col-md-2">
     </div>

   </div>

 </div>


 <div class="navbar navbar-inverse navbar-fixed-bottom">
   <a class="navbar-brand" href="http://www.ull.es/view/centros/etsii/Inicio/es">ETSII ULL</a>
   <a class="navbar-brand pull-right" href="https://github.com/alu0100595727">alu0100595727 Jazer Abreu</a>
 </div>
</body>
</html>
